
.modal-background {
    position: fixed;
    width : 100%;
    height : 100%;
    background-color: rgba(0, 0, 0, 0.263);
}

.diary-enter {
    width : 50%;
    position: fixed;
    justify-self: center;

    padding : 20px;
    margin-top : 5%;
    z-index : 10;
    background-color: rgb(235, 218, 236);
    border-radius : 10px;

    display : flex;
    flex-direction: column;
    gap : 10px;
}

.title-enter {
    appearance: none;
    background-color: transparent;
    outline : none;
    border : none;
    border-bottom :1px solid rgb(83, 24, 69);
    border-radius : 5px 5px 0px 0px;
    padding : 10px;
    font-size : 24px;

}

.content-enter {
    appearance: none;
    background-color: transparent;
    outline: none;
    border : none;
    padding : 10px;
    resize : none;
    overflow-y:hidden;
}



.diary-button {
    width : 100%;
    display : flex;
    justify-content: end;
    gap : 5px;
}

.diary-button button {
    border : 1px solid black;
    padding : 7px;
    padding-top : 6px;
    padding-bottom : 6px;
    border-radius : 10px;
    font-size : 11px;
    cursor : pointer;
    text-align: center;

    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.diary-save:hover {
    background-color: rgb(83, 24, 69);
    color : white;
}

.diary-close:hover {
    background-color: rgb(146, 34, 34);
    color : white;
}