@font-face {
    font-family: 'GMARKET_SANS'; /* 대표 폰트 이름을 하나로 통일 */
    src: url('../font/GmarketSansTTFBold.ttf') format('truetype');
    font-weight: 700; /* BOLD에 해당하는 굵기 지정 */
    font-style: normal;
}

/* 2. GMARKET_MEDIUM 폰트 정의 */
@font-face {
    font-family: 'GMARKET_SANS'; /* 같은 이름 사용 */
    src: url('../font/GmarketSansTTFMedium.ttf') format('truetype');
    font-weight: 500; /* MEDIUM에 해당하는 굵기 지정 */
    font-style: normal;
}

/* 3. GMARKET_LIGHT 폰트 정의 */
@font-face {
    font-family: 'GMARKET_SANS'; /* 같은 이름 사용 */
    src: url('../font/GmarketSansTTFLight.ttf') format('truetype');
    font-weight: 300; /* LIGHT에 해당하는 굵기 지정 */
    font-style: normal;
}

body {
    background-color: rgb(48, 48, 48);
    display : flex;
    align-items: center;
    justify-content: center;
    font-family:  'GMARKET_SANS';
}

.main-container {
    margin: 50px;
    margin-top : 50px;   
    color : white;
}

.main-container span {
    display : inline-block;
    text-align: center;
    font-size : 48px;
    font-weight : 700;
    display : flex;
    justify-content: center;
    margin-bottom : 30px;
    
}

.time {
    text-align: center;
}

.list-container {
    display : flex;
    align-items: center;
    justify-content: start;
    margin-bottom : 20px;
}

.check-box {
    margin-right : 15px; 
    width : 18px;
    height : 18px;
    accent-color: rgb(232, 181, 255);
}

/*check-box도 바꿀 수 있을 것 같네*/

.list-text {
    width : 300px;
    box-sizing: border-box;
    overflow-y: hidden;
    height : 38px;
    max-height: 190px;
    font-size : 15px;
    font-weight : 500;
    background-color: transparent;
    border-radius: 10px;
    border : 1px solid white;
    resize : none;
    color : white;
    font-family : 'GMARKET_SANS';
    margin-right : 10px;
    padding : 10px;
}

.delete-button {
    font-size: 20px;
    cursor : pointer;
    
}

.addition-list {
    margin-top: 20px;
    display : flex;
    justify-content: center;
    font-size: 30px;
    color : white;
    cursor : pointer;
    /* 아하 그냥 여기도 transition을 넣어두면 되는 구먼!*/
    transition: 0.7s ease-out;
    transform: rotate(0deg);


}

.addition-list:hover {
    transition: 0.7s ease-out;
    transform : rotate(180deg);
    color : rgb(232, 181, 255);
}

.completed {
    text-decoration: line-through;
}

.length {
    text-align: center;
    
}